<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.ibudai.dao.FilesDao">

    <resultMap type="xyz.ibudai.entity.Files" id="fileResult">
        <id property="ID" column="id"/>
        <result property="accountCode" column="account_code"/>
        <result property="fileName" column="file_name"/>
        <result property="inTime" column="in_time"/>
        <result property="minioBucket" column="minio_bucket"/>
        <result property="minioPath" column="minio_path"/>
    </resultMap>

    <select id="list" resultMap="fileResult">
        select *
        from tb_files
    </select>

    <select id="get" resultMap="fileResult" parameterType="String">
        select *
        from tb_files
        where id = #{ID}
    </select>

    <insert id="add" parameterType="xyz.ibudai.entity.Files">
        insert into tb_files
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="accountCode != null">
                account_code,
            </if>
            <if test="fileName != null">
                file_name,
            </if>
            <if test="inTime != null">
                in_time,
            </if>
            <if test="minioBucket != null">
                minio_bucket,
            </if>
            <if test="minioPath != null">
                minio_path,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="accountCode != null">
                #{accountCode},
            </if>
            <if test="fileName != null">
                #{fileName},
            </if>
            <if test="inTime != null">
                #{inTime},
            </if>
            <if test="minioBucket != null">
                #{minioBucket},
            </if>
            <if test="minioPath != null">
                #{minioPath},
            </if>
        </trim>
    </insert>

    <delete id="delete" parameterType="String">
        delete
        from tb_files
        where id = #{ID}
    </delete>
</mapper>